
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
      margin: 0;
 }
/*=== Colores ===*/
:root {
  --first-color: #0396A6;
  --dark-color: #000;
  --white-color: #F2F2F2;
}

/*=== Fuente y tipografia ===*/
:root {
  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 7rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=== z index ===*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 20;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}


/*===== HOME =====*/
.home {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home__parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home__parallax-img1 {
  background-image: url("/assets/images/home/Sky.png");
  z-index: var(--z-normal);
}

/* .home__parallax-img2 {
  background-image: url("/assets/images/M1.png");
  z-index: var(--z-tooltip);
} */

.home__parallax-img3 {
  background-image: url("/assets/images/home/Mountain.png");
  z-index: var(--z-fixed);
}

.home__parallax-img4 {
  background-image: url("/assets/images/home/Trees1.png");
  z-index: var(--z-fixed);
}

.home__title, .home__subtitle {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white-color);
}

.home__title {
  top: 32%;
  font-size: var(--biggest-font-size);
  z-index: var(--z-fixed);
  filter: drop-shadow(0 0.9rem 0.25rem rgba(0, 0, 0, 0.2));
}

.home__subtitle {
  top: 44%;
  font-size: var(--h2-font-size);
  font-weight: bold;
  z-index: var(--z-fixed);
}

.home__scroll {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  z-index: var(--z-modal);
}

.home__scroll .bx-mouse {
  color: var(--white-color);
}

/*===== SECTION =====*/




/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 760px) {
 
  .home__title {
    top: 27%;
  }
  .home__subtitle {
    top: 50%;
  }
}
 

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 760px) {
 
  .home__title {
    top: 43%;
  }
  .home__subtitle {
    top: 57%;
  }
}


